/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap');

:root {
  /* text font  */
  --var--inter: "Inter", sans-serif;
  --var--lobster: "Lobster", serif;
  /* color  */
  --var--text-black: #000000;
  --var--text-2: rgba(0, 0, 0, 0.6);
  --var--bg-1: #E7FAFE;
  --var--bg-2: rgba(0, 0, 0, 0.05);
}

/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--var--inter);
  font-weight: 500;
  color: var(--var--text-black);
}

/* global css  */

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1280px;
  margin: auto;
}

.section-title {
  font-size: 48px;
  font-family: var(--var--inter);
  font-weight: 600;
  letter-spacing: -4%;
  color: var(--var--text-black);
}

.btn {
  font-size: 14px;
  font-family: var(--var--inter);
  font-weight: 600;
  letter-spacing: -2%;
  color: #FFFFFF;
  background: #000000;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid #000000;
  transition: .5s ease;
}

.btn:hover {
  color: #000000;
  background: #FFFFFF;
}

/* header section  */
.header-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 999;
}

.header-continer h4 {
  font-size: 24px;
  font-family: var(--var--lobster);
  font-weight: 400;
  color: var(--var--text-black);
}

.header-continer h4 span {
  color: #FF7426;
}

.navber ul {
  gap: 60px;
}

.navber ul li {
  list-style: none;
  padding-bottom: 5px;
  position: relative;
}

.navber ul li a {
  font-size: 16px;
  font-family: var(--var--inter);
  font-weight: 500;
  letter-spacing: -2%;
  color: var(--var--text-black);
  text-decoration: none;
  cursor: pointer;
  transition: .3s ease;
}

.navber ul li .active {
  color: #FF7426;
}


.navber ul li a:hover {
  color: #FF7426;
}

.navber ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #FF7426;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: .3s ease;
}

.navber ul li a:hover::after {
  transform: scale(1, 1);
}


.navber ul li .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #FF7426;
  transform: scale(1, 1);
}

.socile-icon {
  gap: 40px;
  cursor: pointer;
}

.socile-icon i {
  transition: .3s;
}

.socile-icon i:hover {
  color: #FF7426;
  cursor: pointer;
}

/* hero section  */
.hero-wrapper {
  padding-top: 40px;
  padding-bottom: 160px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.hero-block-left {
  width: 60px;
  height: 600px;
  background-color: var(--var--bg-1);
  margin-right: 40px;
  border-radius: 0 43px 43px 0;
}

.hero-block-right {
  width: 60px;
  height: 600px;
  background-color: var(--var--bg-1);
  margin-left: 40px;
  border-radius: 43px 0 0 43px;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-left {
  background-color: var(--var--bg-1);
  border-radius: 43px 0 0 43px;
  padding: 50px;
}

.hero-left .h-resipes {
  width: 162px;
  background-color: #FFFFFF;
  padding: 11px 20px 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: .3s ease;
}

.hero-left .h-resipes img {
  margin-right: 13px;
}

.hero-left .h-resipes:hover {
  box-shadow: 0 6px 10px var(--var--bg-2);
  cursor: pointer;
}

.hero-left .h-resipes span {
  font-size: 14px;
  font-family: var(--var--inter);
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--var--text-black);
}

.hero-left h1 {
  font-size: 64px;
  font-family: var(--var--inter);
  font-weight: 600;
  letter-spacing: -4%;
  color: var(--var--text-black);
  margin-top: 32px;
  margin-bottom: 24px;
}

.hero-left p {
  font-size: 16px;
  font-family: var(--var--inter);
  font-weight: 400;
  line-height: 28px;
  color: var(--var--text-2);
  margin-bottom: 30px;
}

.time-name {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.time-name .time-n {
  padding: 8px 16px;
  background: var(--var--bg-2);
  border-radius: 30px;
}

.time-name span {
  font-size: 14px;
  font-family: var(--var--inter);
  font-weight: 500;
  letter-spacing: -2%;
  color: var(--var--text-2);
  margin-left: 10px;
}

.hero-left .user-btn {
  margin-top: 99px;
}

.hero-left .user-btn .user {
  gap: 16px;
}

.hero-left .user-btn .user h6 {
  font-size: 16px;
  font-family: var(--var--inter);
  font-weight: 700;
  letter-spacing: -2%;
  color: var(--var--text-black);
  margin-bottom: 8px;
}

.hero-left .user-btn .user span {
  font-size: 14px;
  font-family: var(--var--inter);
  font-weight: 500;
  letter-spacing: -2%;
  color: var(--var--text-2);
}

.hero-left .user-btn .view-resipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 18px 36px;
}

.hero-right {
  position: relative;
  z-index: 1;
}

.hero-right img {
  width: 100%;
  height: 100%;
  border-radius: 0 43px 43px 0;
}

.hero-right .badge {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50px;
  left: -50px;
}

/* categories section  */
.categories-wrapper {
  margin-bottom: 183px;
}

.categories-title {
  margin-bottom: 80px;
}

.categories-title #allCategoris {
  font-size: 16px;
  font-family: var(--var--inter);
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--var--text-black);
  text-decoration: none;
  background: var(--var--bg-1);
  padding: 21px 27px 20px 27px;
  border-radius: 16px;
  transition: .3s ease;
}

.categories-title #allCategoris:hover {
  background: #dbf5fb;
}

.categories-carts .single-cart {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 30px;
  border-radius: 30px;
}

.categories-carts .break-fast {
  background: linear-gradient(to top, rgba(112, 130, 70, 0.1), rgba(112, 130, 70, 0));
  transition: .5s ease;
}

.categories-carts .break-fast img {
  filter: drop-shadow(21px 26px 11px rgba(112, 130, 70, 0.3));
  z-index: -1;

}

.categories-carts .break-fast:hover {
  background: linear-gradient(to top, rgba(112, 130, 70, 0.15), rgba(112, 130, 70, 0));
  cursor: pointer;
}

.categories-carts .vegan {
  background: linear-gradient(to top, rgba(108, 198, 63, 0.1), rgba(108, 198, 63, 0));
  transition: .5s ease;
}

.categories-carts .vegan img {
  filter: drop-shadow(21px 26px 11px rgba(108, 198, 63, 0.3));
  z-index: -1;

}

.categories-carts .vegan:hover {
  background: linear-gradient(to top, rgba(108, 198, 63, 0.15), rgba(108, 198, 63, 0));
  cursor: pointer;
}

.categories-carts .meat {
  background: linear-gradient(to top, rgb(204, 38, 27, 0.1), rgb(204, 38, 27, 0));
  transition: .5s ease;
}

.categories-carts .meat img {
  filter: drop-shadow(21px 17px 12px rgba(204, 38, 27, 0.2));
  z-index: -1;

}

.categories-carts .meat:hover {
  background: linear-gradient(to top, rgb(204, 38, 27, 0.15), rgb(204, 38, 27, 0));
  cursor: pointer;
}

.categories-carts .dessert {
  background: linear-gradient(to top, rgb(240, 158, 0, 0.1), rgb(240, 158, 0, 0));
  transition: .5s ease;
}

.categories-carts .dessert img {
  filter: drop-shadow(10px 13px 13px rgb(240, 158, 0, 0.3));
  z-index: -1;

}

.categories-carts .dessert:hover {
  background: linear-gradient(to top, rgb(240, 158, 0, 0.15), rgb(240, 158, 0, 0));
  cursor: pointer;
}

.categories-carts .lunch {
  background: linear-gradient(to top, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0));
  transition: .5s ease;
}

.categories-carts .lunch img {
  filter: drop-shadow(10px 13px 13px rgb(240, 158, 0, 0.3));
  z-index: -1;

}

.categories-carts .lunch:hover {
  background: linear-gradient(to top, rgb(0, 0, 0, 0.15), rgb(0, 0, 0, 0));
  cursor: pointer;
}

.categories-carts .chocoate {
  background: linear-gradient(to top, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0));
  transition: .5s ease;
}

.categories-carts .chocoate img {
  filter: drop-shadow(13px 13px 10px rgba(204, 38, 27, 0.4));
  z-index: -1;

}

.categories-carts .chocoate:hover {
  background: linear-gradient(to top, rgb(0, 0, 0, 0.15), rgb(0, 0, 0, 0));
  cursor: pointer;
}

/* resipes section  */
#resipes {
  margin-bottom: 143px;
}

.resipes-title-text {
  text-align: center;
  margin-bottom: 96px;
}

.resipes-title-text p {
  font-size: 16px;
  font-family: var(--var--inter);
  font-weight: 400;
  line-height: 28px;
  color: var(--var--text-2);
  margin-top: 24px;
}

.resipes-cards {
  gap: 40px;
}

.resipe-card {
  width: 400px;
  border-radius: 30px;
  padding: 16px 16px 32px 16px;
  background: linear-gradient(to top, #E7F9FD, #e7f9fd00);
  position: relative;
}

.resipe-card img {
  border-radius: 30px;
  margin-bottom: 24px;
}

.resipe-card h3 {
  font-size: 24px;
  font-family: var(--var--inter);
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -4%;
  color: var(--var--text-black);
  margin-bottom: 24px;
  padding: 0 8px;
}

.resipe-card .time-name {
  display: flex;
  gap: 24px;
  padding: 0 8px;
}

.resipe-card .circle {
  position: absolute;
  top: 36px;
  right: 36px;
}

.resipe-card .fa-heart {
  font-size: 24px;
  position: absolute;
  top: 50px;
  right: 48px;
  color: #DBE2E5;
  transition: .3s ease;
}

.resipe-card .fa-heart:hover {
  color: #FF6363;
  cursor: pointer;
}

.resipe-card .active {
  color: #FF6363;
}

.ads {
  width: 400px;
}

.ads img {
  width: 100%;
}

/* learn more section  */
.learn-more-wrapper {
  margin-bottom: 160px;
}