.blog__details--wrapper {
    margin-top: 80px;
    margin-bottom: 132px;
}

.blog__details--header {
    text-align: center;
    margin-bottom: 80px;
}

.page__title {
    margin-bottom: 32px;
}

.blog__shape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.shape__name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 61px;
}

.shape__name h6 {
    margin-bottom: 0;
}

.shape__name span {
    padding-left: 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.shape__discription {
    width: 1059px;
    margin-inline: auto;
    margin-bottom: 68px;
}

.shape__discription p {
    font-size: 1rem;
    font-family: var(--var--inter);
    font-weight: 400;
    line-height: 28px;
    color: var(--var--text-2);
}

.blog__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.blog__details--body {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.blog__description {
    width: 920px;
}


.blog__direction--text {
    padding-left: 41px;
    padding-right: 40px;
}

.blog__direction--text h4 {
    font-size: 1.5rem;
    font-family: var(--var--inter);
    font-weight: 600;
    color: var(--var--text-black);
    letter-spacing: -1.0px;
    margin-bottom: 24px;
}

.blog__direction--text p {
    font-size: 1rem;
    font-family: var(--var--inter);
    font-weight: 400;
    color: var(--var--text-2);
    line-height: 28px;
    margin-bottom: 24px;
}

.blog__direction--text--first {
    margin-bottom: 112px;
}

.blog__direction--text--second {
    margin-bottom: 84px;
}

.blog__direction--text--third {
    margin-bottom: 56px;
}

.blog__direction--text--third img {
    width: 840px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 32px;
}

.blog__direction--text--fourth {
    padding-right: 26px;
    margin-bottom: 64px;
}

.blog__add {
    padding: 48px 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0));
    margin-bottom: 68px;
}

.blog__add h2 {
    font-size: clamp(1.125rem, 0rem + 3.75vw, 2.25rem);
    font-style: italic;
    font-family: var(--var--inter);
    font-weight: 500;
    color: var(--var--text-black);
    letter-spacing: -1.4px;
    line-height: 68px;
}

.blog__social--links {
    width: 131px;
    text-align: center;
}

.blog__social--links span {
    font-size: 0.875rem;
    font-family: var(--var--inter);
    font-weight: 600;
    letter-spacing: 1.3px;
    color: var(--var--text-black);

}

.blog__social--links .socile__icon {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 32px;
}

/* resposive design */

@media (max-width: 1200px) {
    .blog__details--body {
        flex-direction: column-reverse;
        gap: 48px;
    }

    .blog__social--links {
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        margin-left: 40px;
    }

    .blog__social--links .socile__icon {
        flex-direction: row;
        margin-top: 0;
    }
}

@media (max-width: 980px) {
    .blog__details--wrapper {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .blog__details--header {
        margin-bottom: 40px;
    }


    .shape__discription {
        width: 100%;
    }

    .blog__details--body {
        gap: 32px;
    }

    .blog__description {
        width: 100%;
    }

    .blog__direction--text {
        margin-bottom: 35px;
    }

    .blog__direction--text--third img {
        width: 100%;
    }

    .blog__add {
        margin-bottom: 35px;
    }
}

@media (max-width: 480px) {
    .blog__shape {
        flex-direction: column;
        gap: 24px;
    }

    .blog__social--links {
        margin-left: 0;
    }

    .blog__direction--text {
        padding-left: 15px;
        padding-right: 15px;
    }
}